.App {
  font-family: 'Optima';
    background-color:black;
    width:100%;
    height:100%;
    top:0;
    opacity: 1.0;
    left:0;
    position:absolute;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('/hero.png');
    background-position: center;
    
    color: #ebc96b;
    letter-spacing: 0.1em;
}

.Title-h1 {
    position: fixed;
    top:15vh;
    right:30%;
    text-transform: uppercase;
    font-size:1.5em;
    letter-spacing: 0.10em;
}

.Navbar-div {
    float:right;
    margin-right:10%;
    margin-top:10vh;
    padding-left:2em;
    color:#ebc96b;
/*    font-weight:bold;*/
    text-transform: lowercase;
    border-left: 2px solid #2f2f2f;
}

.Navbar-div ul {
    list-style-type: none;
    line-height: 3em;
    padding:0;
}

.Navbar-div a {
    color: #ebc96b;
    text-decoration: none;
}

.Navbar-div a:hover {
    color: white;
}